<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ignore_prefix0" value="TEMP"/>
    <add key="ignore_prefix1" value="[FAIL]"/>
    <add key="destinationDirectory" value="D:\CI_Testing"/>
    <add key="iconsPath" value="..\..\..\Icons\"/>
    <add key="logPath" value="D:\tmp\log.txt"/>
    <add key="timeout_ms" value="10000"/>
    <add key="NotificationIconReset_ms" value="120000"/>
    <add key="TEST_PROCESSES_COUNT" value="1"/>
    <add key="nuget.exe" value="C:\Program Files (x86)\Microsoft Visual Studio\nuget.exe"/>
    <add key="gitpath" value="C:\Program Files\Git\bin\git.exe"/>
		<add key="dotnet.exe" value="C:\Program Files\dotnet\dotnet.exe"/>
  </appSettings>
</configuration>
