<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CI_UI_Path" value="D:\GitTools\CI.UI\bin\x86\Release\CI.UI.exe"/>
    <add key="iconsPath" value="..\..\..\..\CI.UI\Icons\"/>
    <add key="timeout_ms" value="2000"/>
    <add key="logPath" value="D:\tmp\log.txt"/>
    <add key="CI_PIPE_NAME" value="CI_TESTING_PIPE"/>
    <add key="destinationDirectory" value="D:\CI_Testing"/>
    <add key="nuget.exe" value="nuget.exe"/>
		<add key="dotnet.exe" value="C:\Program Files\dotnet\dotnet.exe"/>
    <add key="gitpath" value="C:\Program Files\Git\bin\git.exe"/>
		<add key="processstarterDir" value="..\..\..\..\CI.ProcessStarter\bin\Debug\netcoreapp3.1\"/>
		<add key="processstarterFiles" value="CI.ProcessStarter.exe,"/>
  </appSettings>
</configuration>
